In [1]:
#Import dependencies
import pandas as pd
import csv
import numpy as np

In [2]:
#Reading the csv file
file_path = "raw_data/schools_complete.csv"
schools_df = pd.read_csv(file_path)
schools_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
#Reading the csv file
file_path = "raw_data/students_complete.csv"
students_df = pd.read_csv(file_path)
students_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [26]:
fullRecords = pd.merge(schools_df, students_df, left_on='name', right_on='school')
fullRecords

,School ID,name_x,type,size,budget,Student ID,name_y,gender,grade,school,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,Huang High School,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,Huang High School,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,Huang High School,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,Huang High School,94,94
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,Huang High School,82,80
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,Huang High School,96,69
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,Huang High School,95,87
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,Huang High School,96,84
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,Huang High School,90,70
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,Huang High School,78,77
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,Huang High School,64,79
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,Huang High School,71,79
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,Huang High School,85,67
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,Huang High School,88,55
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,Huang High School,64,69
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,Huang High School,89,80
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,Huang High School,91,89
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,Huang High School,90,77
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,Huang High School,99,84
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,Huang High School,81,68
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,Huang High School,85,73
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,Huang High School,92,70
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,Huang High School,63,85
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,Huang High School,80,58
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,Huang High School,73,55
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,Huang High School,90,88
...,...,...,...,...,...,...,...,...,...,...,...,...
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,Thomas High School,71,93
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,Thomas High School,77,87
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,Thomas High School,94,74
39146,14,Thomas High School,Charter,1635,1043130,39146,Michael Carroll,M,9th,Thomas High School,69,95
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,Thomas High School,88,81
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,Thomas High School,89,89
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,Thomas High School,82,93
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,Thomas High School,84,73
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,Thomas High School,80,75
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,Thomas High School,91,71
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,Thomas High School,92,98
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,Thomas High School,79,95
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,Thomas High School,87,90
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,Thomas High School,70,84
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,Thomas High School,90,75
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [30]:
avg_reading_math_score = fullRecords.groupby(["school"])['reading_score','math_score'].mean()
avg_reading_math_score

                       reading_score  math_score
school
Bailey High School         81.033963   77.048432
Cabrera High School        83.975780   83.061895
Figueroa High School       81.158020   76.711767
Ford High School           80.746258   77.102592
Griffin High School        83.816757   83.351499
Hernandez High School      80.934412   77.289752
Holden High School         83.814988   83.803279
Huang High School          81.182722   76.629414
Johnson High School        80.966394   77.072464
Pena High School           84.044699   83.839917
Rodriguez High School      80.744686   76.842711
Shelton High School        83.725724   83.359455
Thomas High School         83.848930   83.418349
Wilson High School         83.989488   83.274201
Wright High School         83.955000   83.682222

In [36]:
pass_percent = fullRecords.groupby(["school"])['reading_score','math_score'].apply(lambda x: x > 65).apply(lambda x: x/x.sum()*100)
pass_percent

       reading_score  math_score
0           0.002708    0.003072
1           0.002708    0.000000
2           0.002708    0.000000
3           0.002708    0.000000
4           0.002708    0.003072
5           0.002708    0.003072
6           0.002708    0.003072
7           0.002708    0.003072
8           0.002708    0.003072
9           0.002708    0.003072
10          0.002708    0.003072
11          0.002708    0.003072
12          0.000000    0.003072
13          0.002708    0.003072
14          0.002708    0.003072
15          0.002708    0.003072
16          0.002708    0.000000
17          0.002708    0.003072
18          0.000000    0.003072
19          0.002708    0.003072
20          0.002708    0.003072
21          0.002708    0.003072
22          0.002708    0.003072
23          0.002708    0.003072
24          0.002708    0.003072
25          0.002708    0.003072
26          0.000000    0.003072
27          0.002708    0.000000
28          0.002708    0.000000
29          0.002708    0.003072
...              ...         ...
39140       0.002708    0.003072
39141       0.002708    0.003072
39142       0.002708    0.003072
39143       0.002708    0.003072
39144       0.002708    0.003072
39145       0.002708    0.003072
39146       0.002708    0.003072
39147       0.002708    0.003072
39148       0.002708    0.003072
39149       0.002708    0.003072
39150       0.002708    0.003072
39151       0.002708    0.003072
39152       0.002708    0.003072
39153       0.002708    0.003072
39154       0.002708    0.003072
39155       0.002708    0.003072
39156       0.002708    0.003072
39157       0.002708    0.003072
39158       0.002708    0.003072
39159       0.002708    0.003072
39160       0.002708    0.003072
39161       0.002708    0.003072
39162       0.002708    0.003072
39163       0.002708    0.003072
39164       0.002708    0.003072
39165       0.002708    0.003072
39166       0.002708    0.003072
39167       0.002708    0.003072
39168       0.002708    0.003072
39169       0.002708    0.003072

[39170 rows x 2 columns]

In [22]:
# Create an example dataframe
data = {'Platoon': ['A','A','A','A','A','A','B','B','B','B','B','C','C','C','C','C'],
       'Casualties': [1,4,5,7,5,5,6,1,4,5,6,7,4,6,4,6]}
df = pd.DataFrame(data)

    Casualties Platoon
0            1       A
1            4       A
2            5       A
3            7       A
4            5       A
5            5       A
6            6       B
7            1       B
8            4       B
9            5       B
10           6       B
11           7       C
12           4       C
13           6       C
14           4       C
15           6       C

In [25]:
d = df.groupby('Platoon')['Casualties']
d