In [160]:
#Import dependencies
import pandas as pd
import csv
import numpy as np

In [161]:
#Reading the csv file
file_path = "raw_data/schools_complete.csv"
schools_df = pd.read_csv(file_path)
schools_df.head()

   School ID                   name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [289]:
#Reading the csv file
file_path = "raw_data/students_complete.csv"
students_df = pd.read_csv(file_path)
students_df.head()

df = students_df.groupby(["school"])['reading_score'].sum()
df

school
Bailey High School       403225
Cabrera High School      156027
Figueroa High School     239335
Ford High School         221164
Griffin High School      123043
Hernandez High School    375131
Holden High School        35789
Huang High School        236810
Johnson High School      385481
Pena High School          80851
Rodriguez High School    322898
Shelton High School      147441
Thomas High School       137093
Wilson High School       191748
Wright High School       151119
Name: reading_score, dtype: int64

In [260]:
renamed_schools_df = schools_df.rename(columns={"name":"school", "size": "Total Students", "budget": "Total Budget"})
renamed_schools_df.head()

   School ID                 school      type  Total Students  Total Budget
0          0      Huang High School  District            2917       1910635
1          1   Figueroa High School  District            2949       1884411
2          2    Shelton High School   Charter            1761       1056600
3          3  Hernandez High School  District            4635       3022020
4          4    Griffin High School   Charter            1468        917500

In [275]:
combined_data = pd.merge(students_df,renamed_schools_df, on = "school")
new_dataset = combined_data.drop(["Student ID", "gender","grade","name"], axis =1)
new_dataset.head()
grouped_data = new_dataset.groupby("school")

grouped_data

In [273]:
#math_scores[(math_scores["math_score"] > 65)]
#grouped_data.filter(lambda x: x["math_score"] > 65)

TypeError: filter function returned a Series, but expected a scalar bool

In [165]:
#Total # of schools
total_schools = new_dataset["School ID"].value_counts()
no_of_schools = total_schools.count()
no_of_schools

15

In [166]:
#Total # of students
total_students = students_df["name"].count()
total_students

39170

In [167]:
#Total school budget
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [168]:
#Average math score
avg_math_score = round(students_df["math_score"].mean(),2)
avg_math_score

78.99

In [169]:
#Average reading score
avg_reading_score = round(students_df["reading_score"].mean(),2)
avg_reading_score

81.88

In [170]:
#% passing math
total_students_passing_math = students_df[students_df["math_score"] >= 65].count()["math_score"]
total_students_passing_math
percentage_passing_math = (total_students_passing_math/total_students)*100
round_percentage_passing_math = round(percentage_passing_math,2)
round_percentage_passing_math

84.730000000000004

In [171]:
# % passing reading
total_students_passing_read = students_df[students_df["reading_score"]>=65].count()["reading_score"]
total_students_passing_read
percentage_passing_reading = round((total_students_passing_read/total_students)*100,2)
percentage_passing_reading

96.200000000000003

In [172]:
overall_pass = pd.DataFrame([percentage_passing_math,percentage_passing_reading])
overall_pass

           0
0  84.728108
1  96.200000

In [173]:
#Overall passing rate
overall_passing_rate = round(overall_pass.mean()[0],2)
overall_passing_rate

90.459999999999994

In [174]:

student_summary = pd.DataFrame ([{"Total Schools":total_schools,"Total Students": total_students, "Total School Budget" : total_budget, "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score,"Percentage Passing Math": percentage_passing_math, "Percentage Passing Reading": percentage_passing_reading, "Overall Passing Rate": overall_passing_rate}])
student_summary

,Average Math Score,Average Reading Score,Overall Passing Rate,Percentage Passing Math,Percentage Passing Reading,Total School Budget,Total Schools,Total Students
0,78.99,81.88,90.46,84.728108,96.2,24649428,7 4976 12 4761 3 4635 11 3999 1 ...,39170

In [175]:
math_scores = new_dataset.drop(["reading_score","School ID","type","Total Students","Total Budget"],axis =1)
math_scores
math_passed = math_scores[(math_scores["math_score"] > 65)]
schoolwise_math_passed = math_passed.groupby("school") 
total_passed = pd.DataFrame(schoolwise_math_passed.count())
total_passed

                       math_score
school
Bailey High School           3762
Cabrera High School          1858
Figueroa High School         2208
Ford High School             2087
Griffin High School          1468
Hernandez High School        3498
Holden High School            427
Huang High School            2196
Johnson High School          3589
Pena High School              962
Rodriguez High School        3021
Shelton High School          1761
Thomas High School           1635
Wilson High School           2283
Wright High School           1800

In [262]:
reading_scores = new_dataset.drop(["math_score","School ID","type","Total Students","Total Budget"],axis =1)
reading_scores
reading_passed = reading_scores[(reading_scores["reading_score"] > 65)]
schoolwise_reading_passed = reading_passed.groupby("school") 
total_reading_passed = pd.DataFrame(schoolwise_reading_passed.count())
total_reading_passed

                       reading_score
school
Bailey High School              4573
Cabrera High School             1858
Figueroa High School            2710
Ford High School                2487
Griffin High School             1468
Hernandez High School           4239
Holden High School               427
Huang High School               2677
Johnson High School             4383
Pena High School                 962
Rodriguez High School           3660
Shelton High School             1761
Thomas High School              1635
Wilson High School              2283
Wright High School              1800

In [181]:
total_passed["reading_score"] = total_reading_passed["reading_score"]
total_passed

                       math_score  reading_score
school
Bailey High School           3762           4573
Cabrera High School          1858           1858
Figueroa High School         2208           2710
Ford High School             2087           2487
Griffin High School          1468           1468
Hernandez High School        3498           4239
Holden High School            427            427
Huang High School            2196           2677
Johnson High School          3589           4383
Pena High School              962            962
Rodriguez High School        3021           3660
Shelton High School          1761           1761
Thomas High School           1635           1635
Wilson High School           2283           2283
Wright High School           1800           1800

In [285]:
grouped_data = new_dataset.groupby(["school"], as_index=False)
print(grouped_data)
a = pd.DataFrame(grouped_data.count())
a

<pandas.core.groupby.DataFrameGroupBy object at 0x000002524F1019B0>

,school,reading_score,math_score,School ID,type,Total Students,Total Budget
0,Bailey High School,4976,4976,4976,4976,4976,4976
1,Cabrera High School,1858,1858,1858,1858,1858,1858
2,Figueroa High School,2949,2949,2949,2949,2949,2949
3,Ford High School,2739,2739,2739,2739,2739,2739
4,Griffin High School,1468,1468,1468,1468,1468,1468
5,Hernandez High School,4635,4635,4635,4635,4635,4635
6,Holden High School,427,427,427,427,427,427
7,Huang High School,2917,2917,2917,2917,2917,2917
8,Johnson High School,4761,4761,4761,4761,4761,4761
9,Pena High School,962,962,962,962,962,962
10,Rodriguez High School,3999,3999,3999,3999,3999,3999
11,Shelton High School,1761,1761,1761,1761,1761,1761
12,Thomas High School,1635,1635,1635,1635,1635,1635
13,Wilson High School,2283,2283,2283,2283,2283,2283
14,Wright High School,1800,1800,1800,1800,1800,1800

In [286]:
data = pd.merge(total_passed,a, on = "school",  how="outer")
data_df = pd.DataFrame(data)
data_df

KeyError: 'school'

In [ ]:
schoolwise_data["Average Math Score"] = round(schoolwise_data["math_score"]/schoolwise_data["Total Students"],2)
schoolwise_data["Average Reading Score"] = round(schoolwise_data["reading_score"]/schoolwise_data["Total Students"],2)
schoolwise_data

In [ ]:
students_grouped = students_df.groupby(by=['school','math_score',"reading_score"]).sum()
students_grouped.head()
#student_details = students_passing_math.apply(lambda g: g[g['math_score'] >= 65])["math_score"]